<div layout-fill layout="column" layout-align="center none">
  <div layout="row" layout-align="center none">

    <mat-card>
      <mat-card-title>
        Login
      </mat-card-title>

      <mat-card-content>
            <button (click)="socialSignIn('google')">Sign in with Google</button>
            <!-- <button (click)="socialSignIn('facebook')">Sign in with Facebook</button> -->

            <button (click)="signinWithGoogle()">Sign in with Google new</button>

      </mat-card-content>

    </mat-card>

  </div>
</div>